<ul>
  <li id="categories">
    <h2>Categories</h2>
    <ul>
      <li><a href="#">Lorem Ipsum</a> (1) </li>
      <li><a href="#">Uncategorized</a> (4) </li>
    </ul>
  </li>
  <li>
    <h2>Ultrices Fringilla Metus</h2>
    <ul>
      <li><a href="#">Nulla luctus eleifend purus</a></li>
      <li><a href="#">Praesent  scelerisque erat</a></li>
    </ul>
  </li>
</ul>
